<html>

<head>
    <title>Community Events Board</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--<style>-->
    <!--    ul {-->
    <!--        list-style-type: none;-->
    <!--        margin: 0;-->
    <!--        padding: 0;-->
    <!--        overflow: hidden;-->
    <!--        background-color: #333;-->
    <!--    }-->

    <!--    li {-->
    <!--        float: left;-->
    <!--    }-->

    <!--    li a {-->
    <!--        display: block;-->
    <!--        color: white;-->
    <!--        text-align: center;-->
    <!--        padding: 14px 16px;-->
    <!--        text-decoration: none;-->
    <!--    }-->

    <!--    li a:hover:not(.active) {-->
    <!--        background-color: #111;-->
    <!--    }-->

    <!--    .active {-->
    <!--        background-color: #4CAF50;-->
    <!--    }-->
    <!--</style>-->
</head>
<nav>
    <div class="nav-wrapper purple darken-4">
        <img src="static/airplane.jpg" class="brand-logo" height="63px">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/index">Home</a></li>
            <li><a href="https://www.booking.com/index.html?aid=309654;label=booking-be-en-us-Ncle0B5ACos0q12KmV3vJQS63640052092:pl:ta:p1:p22,523,000:ac:ap1t2:neg:fi:tikwd-13350800919:lp9004181:li:dec:dm;ws=&gclid=CjwKCAjwm4rqBRBUEiwAwaWjjESGABAc34KbGwq1GDk0d_CVruRzqievuehI_W8okIS8Vu2CLpSnYhoCWlsQAvD_BwE">Hotels</a></li>
            <li><a href="https://www.kayak.com/horizon/sem/cars/general?lang=en&skipapp=true&gclid=CjwKCAjwm4rqBRBUEiwAwaWjjLi7n6qx350Bj2rBJPtIl2TDvQCadSI2aghXDLW-mFecKhrm14wvUxoClZgQAvD_BwE&g_kw=rental+cars&aid=77832279111">Rentals</a></li>
        </ul>
    </div>
</nav>

<body>
    <div>
        <h5 class="center"><i>Here we have somethings going on in one of the locations you chose!</i></h5>
    </div>

    <body style="background-color:#c5cae9;">

        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="static/{{city}}1.jpg">
                        <span class="card-title">Card Title</span>

                        <h1><i><center>Concerts</center></i></h1>
                    </div>
                    <div class="card-content">
                        <div class="event-list">
                            <ul>
                                <center> {% for concert in concerts %} </center>
                                <center>
                                    <li>On {{ concerts[concert]}}, {{concert}} will be performing </li>
                                </center>
                                <center> {% endfor %} </center>
                            </ul>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Artist Name</th>
                                    <!--<th>Date</th>-->
                                    <!--<th>Item Price</th>-->
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Meek Mill</td>
                                    <td>Nipsey Hussle</td>
                                    <td>Big Sean</td>
                                    <td>J Cole</td>
                                    <td></td>

                                </tr>
                                <th> Date </th>
                                <tr>

                                    <td>09/17/19</td>
                                    <td>10/19/19</td>
                                    <td>9/17/19</td>
                                    <td>10/2/19</td>
                                    <td></td>
                                </tr>
                                <th>Concert Price</th>
                                <tr>
                                    <td>$200.00</td>
                                    <td>$250.00</td>
                                    <td>$200.00</td>
                                    <td>$200.00</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="static/{{city}}2.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <h1><i><center>Site Seeing</center></i></h1>
                        <ul>
                            <center>{% for siteseeing in siteseeing %}</center>
                            <center>
                                <li>{{ siteseeing[siteseeing]}} {{siteseeing}} </center>
                            </li>
                            <center>{% endfor %}</center>
                        </ul>
                        <table>
                            <thead>
                                <tr>
                                    <th>Sights to go enjoy!</th>
                                    <!--<th>Date</th>-->
                                    <!--<th>Item Price</th>-->
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Runyon Canon Park</td>
                                    <td>Hollywood Sign</td>
                                    <td>Santa Monica Pier</td>
                                    <td>Urban Lights</td>
                                    <td>Griffith Observatory</td>

                                </tr>
                                <th> Location </th>
                                <tr>

                                    <td>Eastern end of the Santa Monica Mountains</td>
                                    <td>On Mount Lee, in the Hollywood Hills area of the Santa Monica Mountains</td>
                                    <td>Colorado Avenue in Santa Monica</td>
                                    <td>Wilshire Boulevard entrance to the Los Angeles County Museum of Art</td>
                                    <td>Sitting on the south-facing slope of Mount Hollywood in Los Angeles' Griffith Park</td>
                                </tr>
                                <th>Price</th>
                                <tr>
                                    <td>Free to go!</td>
                                    <td>Free to see!</td>
                                    <td>Ranges from $5-$10</td>
                                    <td>$180.00</td>
                                    <td>$7 for adults, and $3 for children</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <div class="card-action">

                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="static/{{city}}3.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <h1><i><center>Restaurants</center></i></h1>

                        <div class="event-list">
                            <ul>
                                <center>{% for restaurants in restaurants %} </center>
                                <center>
                                    <li>{{ restaurants[restaurants]}} {{restaurants}} </li>
                                </center>
                                <center>{% endfor %}</center>
                            </ul>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Restaurants to visit</th>
                                        <!--<th>Date</th>-->
                                        <!--<th>Item Price</th>-->
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Chateau Marmont</td>
                                        <td>YardBird Southern Table and Bar</td>
                                        <td>The Ivy</td>
                                        <td>Catch La</td>
                                        <td>Nobu Malibu</td>

                                    </tr>
                                    <th> Location </th>
                                    <tr>

                                        <td>8221 Sunset Blvd, Los Angeles, CA 90046</td>
                                        <td>8500 Beverly Blvd #112, Los Angeles, CA 90048</td>
                                        <td>113 N Robertson Blvd, Los Angeles, CA 90048</td>
                                        <td>8715 Melrose Ave, West Hollywood, CA 90069</td>
                                        <td>22706 CA-1, Malibu, CA 90265</td>
                                    </tr>
                                    <th>Ratings</th>
                                    <tr>
                                        <td>4.4 Rating</td>
                                        <td>4.4 Rating</td>
                                        <td>4.2 Rating</td>
                                        <td>4.2 Rating</td>
                                        <td>4.5 Rating</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
        </div>


    </body>

</html>
