<html>

<head>
    <title>Community Events Board</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--<style>-->
    <!--    ul {-->
    <!--        list-style-type: none;-->
    <!--        margin: 0;-->
    <!--        padding: 0;-->
    <!--        overflow: hidden;-->
    <!--        background-color: #333;-->
    <!--    }-->

    <!--    li {-->
    <!--        float: left;-->
    <!--    }-->

    <!--    li a {-->
    <!--        display: block;-->
    <!--        color: white;-->
    <!--        text-align: center;-->
    <!--        padding: 14px 16px;-->
    <!--        text-decoration: none;-->
    <!--    }-->

    <!--    li a:hover:not(.active) {-->
    <!--        background-color: #111;-->
    <!--    }-->

    <!--    .active {-->
    <!--        background-color: #4CAF50;-->
    <!--    }-->
    <!--</style>-->
</head>
<nav>
    <div class="nav-wrapper purple darken-4">
        <img src="static/airplane.jpg" class="brand-logo" height="63px">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/index">Home</a></li>
            <li><a href="https://www.booking.com/index.html?aid=309654;label=booking-be-en-us-Ncle0B5ACos0q12KmV3vJQS63640052092:pl:ta:p1:p22,523,000:ac:ap1t2:neg:fi:tikwd-13350800919:lp9004181:li:dec:dm;ws=&gclid=CjwKCAjwm4rqBRBUEiwAwaWjjESGABAc34KbGwq1GDk0d_CVruRzqievuehI_W8okIS8Vu2CLpSnYhoCWlsQAvD_BwE">Hotels</a></li>
            <li><a href="https://www.kayak.com/horizon/sem/cars/general?lang=en&skipapp=true&gclid=CjwKCAjwm4rqBRBUEiwAwaWjjLi7n6qx350Bj2rBJPtIl2TDvQCadSI2aghXDLW-mFecKhrm14wvUxoClZgQAvD_BwE&g_kw=rental+cars&aid=77832279111">Rentals</a></li>
        </ul>
    </div>
</nav>

<body>
    <div>
        <h5 class="center"><i>Here we have somethings going on in one of the locations you chose!</i></h5>
    </div>

    <body style="background-color:#c5cae9;">

        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="static/{{city}}1.jpg">
                        <span class="card-title">Card Title</span>

                        <h1><i><center>Concerts</center></i></h1>
                    </div>
                    <div class="card-content">
                        <div class="event-list">
                            <ul>

                            </ul>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Artist Name</th>
                                    <!--<th>Date</th>-->
                                    <!--<th>Item Price</th>-->
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <center> {% for concert in concerts %} </center>
                                    <center>
                                        <td> {{concert}} will be performing </td>
                                    </center>
                                    <center> {% endfor %} </center>
                                    
                                </tr>
                                <th> Date </th>
                                <tr>
                                    <center> {% for concert in concerts %} </center>
                                        <td>{{ concerts[concert]}}</td>
                                        {% endfor %}
                                   
                                </tr>
                                <th>Concert Price</th>
                                <tr>
                                    <td>$200.00</td>
                                    <td>$250.00</td>
                                    <td>$200.00</td>
                                    <td>$200.00</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="static/{{city}}2.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <h1><i><center>Site Seeing</center></i></h1>
                        <ul>
                            <center>{% for siteseeing in siteseeing %}</center>
                            <center>
                                <td>{{ siteseeing[siteseeing]}} {{siteseeing}}</td> </center>
                            </li>
                            <center>{% endfor %}</center>
                        </ul>
                        <table>
                            <thead>
                                <tr>
                                    <th>Sights to go enjoy!</th>
                                    <!--<th>Date</th>-->
                                    <!--<th>Item Price</th>-->
                                 <center>   {% for siteseeing in siteseeing %} </center>
                                 <td>{{ siteseeing[siteseeing]}} {{siteseeing}}</td>
                                 <center>{% endfor %}</center>
                                </tr>
                            </thead>

                            <tbody>
                               
                                <th> Do I suggest!? </th>
                                <tr>

                                    <td>Nice place to go !</td>
                                    <td>Explore the boroughs!</td>
                                    <td>Have some fun with your family!</td>
                                    <td>Very fun place to vist!</td>
                                    <td>I highly recommend.</td>
                                </tr>
                                <th>Price</th>
                                <tr>
                                    <td>Free to go!</td>
                                    <td>Free to see!</td>
                                    <td>Free Admission!</td>
                                    <td>$100.00</td>
                                    <td>Free!</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <div class="card-action">

                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="static/{{city}}3.jpg">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <h1><i><center>Restaurants</center></i></h1>

                        <div class="event-list">
                            <ul>
                                <center>{% for restaurants in restaurants %} </center>
                                <center>
                                    <td><li>{{ restaurants[restaurants]}} {{restaurants}} </li></td>
                                </center>
                                <center>{% endfor %}</center>
                            </ul>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Restaurants to visit</th>
                                        <!--<th>Date</th>-->
                                        <!--<th>Item Price</th>-->
                                        
                                <center>{% for restaurants in restaurants %} </center>
                                 <td>{{ restaurants[restaurants]}} {{restaurants}} </td>
                                   <center>{% endfor %}</center>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                       
                                    </tr>
                                    <th> Do I Suggest! </th>
                                    <tr>

                                        <td>Yes!</td>
                                        <td>You will love it!</td>
                                        <td>Ofcourse!</td>
                                        <td>Yummy!</td>
                                        <td>You should definetly go here!</td>
                                    </tr>
                                    <th>Ratings</th>
                                    <tr>
                                        <td>4.4 Rating</td>
                                        <td>4.4 Rating</td>
                                        <td>4.2 Rating</td>
                                        <td>4.2 Rating</td>
                                        <td>4.5 Rating</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="card-action">

                    </div>
                </div>
            </div>
        </div>


    </body>

</html>
