<html>

<head>
    <title>FineDineTry!</title>

    <title>website title</title>
</head>

<body>

    <body style="background-color:#c5cae9;">
        <nav>
            <div class="nav-wrapper  purple darken-4">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/index">Home</a></li>
                    <li><a href="badges.html">Hotels</a></li>
                    <li><a href="collapsible.html">Rentals</a></li>
                </ul>
            </div>
        </nav>
        <p>
            <font size="5" color="red"><i><b>Great, let's get started!</b></i></font>
        </p>

        <p><i><b>Here's a couple of things we found for yoou !!</b></i></p>


    </body>

</html>
